@import '../variables';

.chord {
    position: absolute;
    top: 0;
    left: 0;
    .dot {
        height: $dotWidth;
        width: $dotWidth;
        border: 5px solid #FC0000;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        &.filled {
            background-color: #FC0000;
        }
    }
    @for $i from 0 through 4 {
       @for $j from 0 through 6 {
            .position-#{$j + 1}-#{$i} {
                @if($i == 0) {
                    left:  - (15px + $dotWidth);
                } 
                @else {
                    left: ($fretWidth * ($i - 1)) + ($fretWidth / 2) - ($dotWidth / 2);
                }
                top: ($stringSpacing * $j) + (($j + 1) / 2) - ($dotWidth / 2);
            }
        }
    }
}
